[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pre-commit = "*"
django-webtest = "*"

[packages]
Django = "*"
django-extensions = "*"
factory-boy = "*"
django-debug-toolbar = "*"
psycopg2-binary = "*"
whitenoise = "*"
django-filter = "*"
django-sesame = "*"
ua-parser = "*"
dj-database-url = "*"
dj-email-url = "*"
requests = "*"
livereload = "*"
honcho = "*"
sentry-sdk = "*"
structlog = "*"
colorama = "*"
uvicorn = "*"
